/* stylelint-disable order/order */
/* stylelint-enable order/order */
/*
* Used to add the CSS Grid properties for the 12-column grid.
*
* @return string  The CSS Grid properties for the 12-column grid.
*/
/****************
 * Fonts
 *
 * The font settings are defined via the gulp figma task creates variables in the css/__base-includes/figma/_figma-font-styles.scss file based on the Figma file. Additional variables are defined here.
 ****************/
/****************
 * Colors
 *
 * The primary colors are defined via the gulp figma task creates variables in the css/__base-includes/figma/_figma-color-variables.scss file based on the Figma file. Additional variables are defined here.
 ****************/
/****************
 * Effects
 ****************/
/****************
 * Grid Settings
 ****************/
/*
This file can be used for optional additions to the Figma-generated font style mixins in the figma/_figma-font-styles.scss file.

For example, if you want to add styles to the @overline mixin, just create a mixin here called @overline-custom and that CSS will be added to the primary mixin:

@mixin overline-custom() {
	font-weight: 700;
}
*/
.button-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.4);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
  }
  .button-lightbox.active {
    display: flex;
    pointer-events: auto;
  }
  .button-lightbox.visible {
    opacity: 1;
  }
  .button-lightbox__inner {
    width: calc(var(--columnWidth) * 12 - clamp(1rem, -0.1428571429rem + 2.380952381vw, 2rem));
    max-width: calc(var(--columnMaxWidth) * 12 - clamp(1rem, -0.1428571429rem + 2.380952381vw, 2rem));
    pointer-events: none;
  }
  @media (min-width: 36rem) {
    .button-lightbox__inner {
      width: calc(var(--columnWidth) * 12 - clamp(1rem, -0.1428571429rem + 2.380952381vw, 2rem));
      max-width: calc(var(--columnMaxWidth) * 12 - clamp(1rem, -0.1428571429rem + 2.380952381vw, 2rem));
    }
  }
  @media (min-width: 48rem) {
    .button-lightbox__inner {
      width: calc(var(--columnWidth) * 12 - clamp(1rem, -0.1428571429rem + 2.380952381vw, 2rem));
      max-width: calc(var(--columnMaxWidth) * 12 - clamp(1rem, -0.1428571429rem + 2.380952381vw, 2rem));
    }
  }
  .button-lightbox__close-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
  }
  .button-lightbox__close-button::before {
    content: "\ea13";
    font-weight: 400;
    font-size: 1rem;
    font-family: "iconfont-propel";
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    color: #0737cf;
    line-height: 0;
    border: 1px solid #0737cf;
    border-radius: 50%;
    transition: border-color 0.2s linear;
  }
  .button-lightbox__close-button:hover::before, .button-lightbox__close-button:focus::before {
    border-color: #4bc031;
  }
  .button-lightbox__video {
    position: relative;
    max-width: 177.777777vh;
    max-height: calc(100vh - 7.5rem);
    margin: auto;
    aspect-ratio: 16/9;
    pointer-events: none;
  }
  .button-lightbox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
  }
  
  .wp-block-button {
    line-height: 0;
  }
  .wp-block-button--icon-left .wp-block-button__link::before {
    content: "";
    font-weight: 400;
    font-size: 24px;
    font-family: "iconfont-propel";
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: var(--buttonIcon);
    margin-right: 0.25rem;
    font-size: 1.25em;
    background-color: transparent !important;
    transition: transform 0.2s linear, color 0.2s linear;
  }
  a:hover .wp-block-button--icon-left .wp-block-button__link::before, a:focus .wp-block-button--icon-left .wp-block-button__link::before, .wp-block-button--icon-left .wp-block-button__link:hover::before, .wp-block-button--icon-left .wp-block-button__link:focus::before {
    transform: translateX(-0.1875rem);
  }
  .wp-block-button--icon-right .wp-block-button__link::after {
    content: "";
    font-weight: 400;
    font-size: 24px;
    font-family: "iconfont-propel";
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: var(--buttonIcon);
    margin-left: 0.25rem;
    font-size: 1.25em;
    background-color: transparent !important;
    transition: transform 0.2s linear, color 0.2s linear;
  }
  a:hover .wp-block-button--icon-right .wp-block-button__link::after, a:focus .wp-block-button--icon-right .wp-block-button__link::after, .wp-block-button--icon-right .wp-block-button__link:hover::after, .wp-block-button--icon-right .wp-block-button__link:focus::after {
    transform: translateX(0.1875rem);
  }
  h1 + .wp-block-button, .has-t-1-font-size + .wp-block-button, h2 + .wp-block-button, .has-t-2-font-size + .wp-block-button, h3 + .wp-block-button, .has-t-3-font-size + .wp-block-button, h4 + .wp-block-button, .has-t-4-font-size + .wp-block-button, h5 + .wp-block-button, .has-t-5-font-size + .wp-block-button, h6 + .wp-block-button, .has-t-6-font-size + .wp-block-button {
    margin-top: clamp(1.5rem, 0.6428571429rem + 1.7857142857vw, 2.25rem);
  }
  p + .wp-block-button {
    margin-top: clamp(1.5rem, 0.6428571429rem + 1.7857142857vw, 2.25rem);
  }
  .wp-block-button + p {
    margin-top: clamp(1.5rem, 0.6428571429rem + 1.7857142857vw, 2.25rem);
  }
  .wp-block-button.aligncenter {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .wp-block-button.alignleft {
    margin-right: auto;
    margin-left: 0;
    text-align: left;
  }
  .wp-block-button.alignright {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }
  @media (max-width: 35.98rem) {
    .wp-block-button:not([class*=is-style-]), .wp-block-button.is-style-primary {
      width: 100%;
    }
  }
  .wp-block-button:not([class*=is-style-]).wp-block-button--small .wp-block-button__link, .wp-block-button.is-style-primary.wp-block-button--small .wp-block-button__link {
    font-weight: var(--link-2-font-weight);
    font-size: var(--link-2-font-size);
    font-family: var(--link-2-font-family);
    line-height: var(--link-2-line-height);
    letter-spacing: var(--link-2-letter-spacing);
    text-transform: var(--link-2-text-transform);
    padding: 0.3125rem 0.9375rem;
  }
  .wp-block-button:not([class*=is-style-]) .wp-block-button__link, .wp-block-button.is-style-primary .wp-block-button__link {
    font-weight: var(--link-1-font-weight);
    font-size: var(--link-1-font-size);
    font-family: var(--link-1-font-family);
    line-height: var(--link-1-line-height);
    letter-spacing: var(--link-1-letter-spacing);
    text-transform: var(--link-1-text-transform);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem 1.9375rem;
    text-align: center;
    border-radius: 100rem;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
    color: #fcfcfc;
    border: 1px solid #0737cf;
    background-color: #0737cf;
  }
  .wp-block-button:not([class*=is-style-]) .bg-indigo .wp-block-button.is-style-social .wp-block-button__link, .wp-block-button:not([class*=is-style-]) .bg-navy .wp-block-button.is-style-social .wp-block-button__link, .wp-block-button:not([class*=is-style-]) .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link, .wp-block-button:not([class*=is-style-]) .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link, .wp-block-button:not([class*=is-style-]) .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link, .wp-block-button:not([class*=is-style-]) .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link, .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link, .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link, .wp-block-button.is-style-primary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link, .wp-block-button.is-style-primary .bg-navy .wp-block-button.is-style-social .wp-block-button__link, .wp-block-button.is-style-primary .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link, .wp-block-button.is-style-primary .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link, .wp-block-button.is-style-primary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link, .wp-block-button.is-style-primary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link, .bg-navy .wp-block-button.is-style-primary .wp-block-button__link, .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link {
    color: #0737cf;
    border-color: #fcfcfc;
    background-color: #fcfcfc;
  }
  .wp-block-button:not([class*=is-style-]) .bg-indigo .wp-block-button.is-style-social .wp-block-button__link:hover, .wp-block-button:not([class*=is-style-]) .bg-navy .wp-block-button.is-style-social .wp-block-button__link:hover, .wp-block-button:not([class*=is-style-]) .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link:hover, .wp-block-button:not([class*=is-style-]) .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link:hover, .wp-block-button:not([class*=is-style-]) .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link:hover, .wp-block-button:not([class*=is-style-]) .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link:hover, .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link:hover, .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link:hover, .wp-block-button:not([class*=is-style-]) .bg-indigo .wp-block-button.is-style-social .wp-block-button__link:focus, .wp-block-button:not([class*=is-style-]) .bg-navy .wp-block-button.is-style-social .wp-block-button__link:focus, .wp-block-button:not([class*=is-style-]) .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link:focus, .wp-block-button:not([class*=is-style-]) .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link:focus, .wp-block-button:not([class*=is-style-]) .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link:focus, .wp-block-button:not([class*=is-style-]) .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link:focus, .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link:focus, .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link:focus, .wp-block-button.is-style-primary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link:hover, .wp-block-button.is-style-primary .bg-navy .wp-block-button.is-style-social .wp-block-button__link:hover, .wp-block-button.is-style-primary .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link:hover, .wp-block-button.is-style-primary .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link:hover, .wp-block-button.is-style-primary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link:hover, .wp-block-button.is-style-primary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link:hover, .bg-navy .wp-block-button.is-style-primary .wp-block-button__link:hover, .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link:hover, .wp-block-button.is-style-primary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link:focus, .wp-block-button.is-style-primary .bg-navy .wp-block-button.is-style-social .wp-block-button__link:focus, .wp-block-button.is-style-primary .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link:focus, .wp-block-button.is-style-primary .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link:focus, .wp-block-button.is-style-primary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link:focus, .wp-block-button.is-style-primary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link:focus, .bg-navy .wp-block-button.is-style-primary .wp-block-button__link:focus, .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link:focus {
    color: #0a0028;
    border-color: #4bc031;
    background-color: #4bc031;
  }
  .wp-block-button:not([class*=is-style-]) .wp-block-button__link:hover, .wp-block-button:not([class*=is-style-]) .wp-block-button__link:focus, .wp-block-button.is-style-primary .wp-block-button__link:hover, .wp-block-button.is-style-primary .wp-block-button__link:focus {
    color: #0a0028;
    border-color: #4bc031;
    background-color: #4bc031;
  }
  .bg-white .wp-block-button:not([class*=is-style-]) .wp-block-button__link, .bg-white .wp-block-button.is-style-primary .wp-block-button__link {
    color: #fcfcfc;
    border: 1px solid #0737cf;
    background-color: #0737cf;
  }
  .bg-white .wp-block-button:not([class*=is-style-]) .wp-block-button__link:hover, .bg-white .wp-block-button:not([class*=is-style-]) .wp-block-button__link:focus, .bg-white .wp-block-button.is-style-primary .wp-block-button__link:hover, .bg-white .wp-block-button.is-style-primary .wp-block-button__link:focus {
    color: #0a0028;
    border-color: #4bc031;
    background-color: #4bc031;
  }
  @media (max-width: 35.98rem) {
    .wp-block-button:not([class*=is-style-]) .wp-block-button__link, .wp-block-button.is-style-primary .wp-block-button__link {
      width: 100%;
    }
  }
  .wp-block-button:not([class*=is-style-]).wp-block-button--icon-left .wp-block-button__link, .wp-block-button.is-style-primary.wp-block-button--icon-left .wp-block-button__link {
    padding-left: 1.5rem;
  }
  .wp-block-button:not([class*=is-style-]).wp-block-button--icon-left.wp-block-button--small .wp-block-button__link, .wp-block-button.is-style-primary.wp-block-button--icon-left.wp-block-button--small .wp-block-button__link {
    padding-left: 0.75rem;
  }
  .wp-block-button:not([class*=is-style-]).wp-block-button--icon-right .wp-block-button__link, .wp-block-button.is-style-primary.wp-block-button--icon-right .wp-block-button__link {
    padding-right: 1.5rem;
  }
  .wp-block-button:not([class*=is-style-]).wp-block-button--icon-right.wp-block-button--small .wp-block-button__link, .wp-block-button.is-style-primary.wp-block-button--icon-right.wp-block-button--small .wp-block-button__link {
    padding-right: 0.75rem;
  }
  @media (max-width: 35.98rem) {
    .wp-block-button.is-style-secondary {
      width: 100%;
    }
  }
  .wp-block-button.is-style-secondary.wp-block-button--small .wp-block-button__link {
    font-weight: var(--link-2-font-weight);
    font-size: var(--link-2-font-size);
    font-family: var(--link-2-font-family);
    line-height: var(--link-2-line-height);
    letter-spacing: var(--link-2-letter-spacing);
    text-transform: var(--link-2-text-transform);
    padding: 0.3125rem 0.9375rem;
  }
  .wp-block-button.is-style-secondary .wp-block-button__link {
    font-weight: var(--link-1-font-weight);
    font-size: var(--link-1-font-size);
    font-family: var(--link-1-font-family);
    line-height: var(--link-1-line-height);
    letter-spacing: var(--link-1-letter-spacing);
    text-transform: var(--link-1-text-transform);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem 1.9375rem;
    text-align: center;
    border-radius: 100rem;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
    color: #0737cf;
    border: 1px solid #0737cf;
    background-color: transparent;
  }
  .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link, .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-social .wp-block-button__link, .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link, .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link, .wp-block-button.is-style-secondary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link, .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link, .wp-block-button.is-style-secondary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link, .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link, .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link, .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link {
    color: #fcfcfc;
    border-color: #fcfcfc;
  }
  a:hover .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link, a:hover .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-social .wp-block-button__link, a:hover .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link, a:hover .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link, a:hover .wp-block-button.is-style-secondary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link, a:hover .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link, a:hover .wp-block-button.is-style-secondary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link, a:hover .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link, a:hover .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link, .bg-navy a:hover .wp-block-button.is-style-secondary .wp-block-button__link, a:hover .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link, .bg-indigo a:hover .wp-block-button.is-style-secondary .wp-block-button__link, a:focus .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link, a:focus .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-social .wp-block-button__link, a:focus .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link, a:focus .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link, a:focus .wp-block-button.is-style-secondary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link, a:focus .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link, a:focus .wp-block-button.is-style-secondary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link, a:focus .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link, a:focus .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link, .bg-navy a:focus .wp-block-button.is-style-secondary .wp-block-button__link, a:focus .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link, .bg-indigo a:focus .wp-block-button.is-style-secondary .wp-block-button__link, .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link:hover, .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-social .wp-block-button__link:hover, .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link:hover, .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link:hover, .wp-block-button.is-style-secondary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link:hover, .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link:hover, .wp-block-button.is-style-secondary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link:hover, .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link:hover, .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link:hover, .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link:hover, .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link:focus, .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-social .wp-block-button__link:focus, .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link:focus, .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link:focus, .wp-block-button.is-style-secondary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link:focus, .wp-block-button.is-style-secondary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link:focus, .wp-block-button.is-style-secondary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link:focus, .wp-block-button.is-style-secondary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link:focus, .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link:focus, .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link:focus {
    color: #fcfcfc;
    border-color: #4bc031;
    background-color: transparent;
  }
  a:hover .wp-block-button.is-style-secondary .wp-block-button__link, a:focus .wp-block-button.is-style-secondary .wp-block-button__link, .wp-block-button.is-style-secondary .wp-block-button__link:hover, .wp-block-button.is-style-secondary .wp-block-button__link:focus {
    color: #0737cf;
    border-color: #4bc031;
    background-color: transparent;
  }
  .bg-white .wp-block-button.is-style-secondary .wp-block-button__link {
    color: #0737cf;
    border: 1px solid #0737cf;
    background-color: transparent;
  }
  a:hover .bg-white .wp-block-button.is-style-secondary .wp-block-button__link, a:focus .bg-white .wp-block-button.is-style-secondary .wp-block-button__link, .bg-white .wp-block-button.is-style-secondary .wp-block-button__link:hover, .bg-white .wp-block-button.is-style-secondary .wp-block-button__link:focus {
    color: #0737cf;
    border-color: #4bc031;
    background-color: transparent;
  }
  @media (max-width: 35.98rem) {
    .wp-block-button.is-style-secondary .wp-block-button__link {
      width: 100%;
    }
  }
  .wp-block-button.is-style-secondary.wp-block-button--icon-left .wp-block-button__link {
    padding-left: 1.5rem;
  }
  .wp-block-button.is-style-secondary.wp-block-button--icon-right .wp-block-button__link {
    padding-right: 1.5rem;
  }
  .wp-block-button.is-style-tertiary.wp-block-button--small .wp-block-button__link {
    font-weight: var(--link-2-font-weight);
    font-size: var(--link-2-font-size);
    font-family: var(--link-2-font-family);
    line-height: var(--link-2-line-height);
    letter-spacing: var(--link-2-letter-spacing);
    text-transform: var(--link-2-text-transform);
  }
  .wp-block-button.is-style-tertiary .wp-block-button__link {
    font-weight: var(--link-1-font-weight);
    font-size: var(--link-1-font-size);
    font-family: var(--link-1-font-family);
    line-height: var(--link-1-line-height);
    letter-spacing: var(--link-1-letter-spacing);
    text-transform: var(--link-1-text-transform);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem 1.9375rem;
    text-align: center;
    border-radius: 100rem;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
    position: relative;
    padding: 0 !important;
    color: #0737cf;
    border: none;
    border-radius: 0;
    background-color: transparent;
  }
  .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-social .wp-block-button__link, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link, .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link, .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link {
    color: #fcfcfc;
  }
  .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link::before, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-social .wp-block-button__link::before, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link::before, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link::before, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link::before, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link::before, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link::before, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link::before, .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link::before, .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link::before {
    background-color: #fcfcfc;
  }
  a:hover .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link, a:hover .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-social .wp-block-button__link, a:hover .wp-block-button.is-style-tertiary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link, a:hover .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link, a:hover .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link, a:hover .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link, a:hover .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link, a:hover .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link, a:hover .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link, .bg-navy a:hover .wp-block-button.is-style-tertiary .wp-block-button__link, a:hover .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link, .bg-indigo a:hover .wp-block-button.is-style-tertiary .wp-block-button__link, a:focus .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link, a:focus .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-social .wp-block-button__link, a:focus .wp-block-button.is-style-tertiary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link, a:focus .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link, a:focus .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link, a:focus .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link, a:focus .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link, a:focus .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link, a:focus .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link, .bg-navy a:focus .wp-block-button.is-style-tertiary .wp-block-button__link, a:focus .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link, .bg-indigo a:focus .wp-block-button.is-style-tertiary .wp-block-button__link, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link:hover, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-social .wp-block-button__link:hover, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link:hover, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link:hover, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link:hover, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link:hover, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link:hover, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link:hover, .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link:hover, .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link:hover, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link:focus, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-social .wp-block-button__link:focus, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link:focus, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link:focus, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link:focus, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link:focus, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link:focus, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link:focus, .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link:focus, .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link:focus {
    color: #fcfcfc;
  }
  a:hover .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link::before, a:hover .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-social .wp-block-button__link::before, a:hover .wp-block-button.is-style-tertiary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link::before, a:hover .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link::before, a:hover .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link::before, a:hover .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link::before, a:hover .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link::before, a:hover .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link::before, a:hover .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link::before, .bg-navy a:hover .wp-block-button.is-style-tertiary .wp-block-button__link::before, a:hover .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link::before, .bg-indigo a:hover .wp-block-button.is-style-tertiary .wp-block-button__link::before, a:focus .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link::before, a:focus .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-social .wp-block-button__link::before, a:focus .wp-block-button.is-style-tertiary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link::before, a:focus .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link::before, a:focus .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link::before, a:focus .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link::before, a:focus .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link::before, a:focus .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link::before, a:focus .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link::before, .bg-navy a:focus .wp-block-button.is-style-tertiary .wp-block-button__link::before, a:focus .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link::before, .bg-indigo a:focus .wp-block-button.is-style-tertiary .wp-block-button__link::before, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link:hover::before, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-social .wp-block-button__link:hover::before, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link:hover::before, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link:hover::before, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link:hover::before, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link:hover::before, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link:hover::before, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link:hover::before, .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link:hover::before, .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link:hover::before, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-social .wp-block-button__link:focus::before, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-social .wp-block-button__link:focus::before, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link:focus::before, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-primary .wp-block-button__link:focus::before, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link:focus::before, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link:focus::before, .wp-block-button.is-style-tertiary .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link:focus::before, .wp-block-button.is-style-tertiary .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link:focus::before, .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link:focus::before, .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link:focus::before {
    background-color: #4bc031;
  }
  .wp-block-button.is-style-tertiary .wp-block-button__link::before {
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    content: "";
    width: 100%;
    height: 0.125rem;
    background-color: #0737cf;
    transition: background-color 0.2s linear;
  }
  a:hover .wp-block-button.is-style-tertiary .wp-block-button__link, a:focus .wp-block-button.is-style-tertiary .wp-block-button__link, .wp-block-button.is-style-tertiary .wp-block-button__link:hover, .wp-block-button.is-style-tertiary .wp-block-button__link:focus {
    color: #0737cf;
  }
  a:hover .wp-block-button.is-style-tertiary .wp-block-button__link::before, a:hover .wp-block-button.is-style-tertiary .wp-block-button__link::after, a:focus .wp-block-button.is-style-tertiary .wp-block-button__link::before, a:focus .wp-block-button.is-style-tertiary .wp-block-button__link::after, .wp-block-button.is-style-tertiary .wp-block-button__link:hover::before, .wp-block-button.is-style-tertiary .wp-block-button__link:hover::after, .wp-block-button.is-style-tertiary .wp-block-button__link:focus::before, .wp-block-button.is-style-tertiary .wp-block-button__link:focus::after {
    color: #4bc031;
    background-color: #4bc031;
  }
  .bg-white .wp-block-button.is-style-tertiary .wp-block-button__link {
    color: #0737cf;
  }
  a:hover .bg-white .wp-block-button.is-style-tertiary .wp-block-button__link, a:focus .bg-white .wp-block-button.is-style-tertiary .wp-block-button__link, .bg-white .wp-block-button.is-style-tertiary .wp-block-button__link:hover, .bg-white .wp-block-button.is-style-tertiary .wp-block-button__link:focus {
    color: #0737cf;
  }
  .wp-block-button.is-style-tertiary.wp-block-button--icon-left .wp-block-button__link::before {
    position: relative;
    left: auto;
    bottom: auto;
    content: var(--buttonIcon);
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .wp-block-button.is-style-tertiary.wp-block-button--icon-right .wp-block-button__link::before {
    display: none;
  }
  .wp-block-button.is-style-social .wp-block-button__link {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem;
    color: var(--blockColor, #0d0d0d);
    font-size: 0;
    line-height: 0;
    text-align: center;
    border: 1px solid #bdbfd1;
    border-radius: 100rem;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    transition: border-color 0.2s linear;
  }
  .wp-block-button.is-style-social .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link, .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-primary .wp-block-button__link, .wp-block-button.is-style-social .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link, .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link, .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link, .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link, .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link, .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link, .bg-navy .wp-block-button.is-style-social .wp-block-button__link, .bg-indigo .wp-block-button.is-style-social .wp-block-button__link {
    border-color: #6f7086;
  }
  a:hover .wp-block-button.is-style-social .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link, a:hover .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-primary .wp-block-button__link, a:hover .wp-block-button.is-style-social .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link, a:hover .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link, a:hover .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link, a:hover .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link, a:hover .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link, a:hover .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link, a:hover .bg-navy .wp-block-button.is-style-social .wp-block-button__link, .bg-navy a:hover .wp-block-button.is-style-social .wp-block-button__link, a:hover .bg-indigo .wp-block-button.is-style-social .wp-block-button__link, .bg-indigo a:hover .wp-block-button.is-style-social .wp-block-button__link, a:focus .wp-block-button.is-style-social .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link, a:focus .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-primary .wp-block-button__link, a:focus .wp-block-button.is-style-social .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link, a:focus .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link, a:focus .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link, a:focus .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link, a:focus .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link, a:focus .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link, a:focus .bg-navy .wp-block-button.is-style-social .wp-block-button__link, .bg-navy a:focus .wp-block-button.is-style-social .wp-block-button__link, a:focus .bg-indigo .wp-block-button.is-style-social .wp-block-button__link, .bg-indigo a:focus .wp-block-button.is-style-social .wp-block-button__link, .wp-block-button.is-style-social .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link:hover, .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-primary .wp-block-button__link:hover, .wp-block-button.is-style-social .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link:hover, .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link:hover, .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link:hover, .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link:hover, .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link:hover, .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link:hover, .bg-navy .wp-block-button.is-style-social .wp-block-button__link:hover, .bg-indigo .wp-block-button.is-style-social .wp-block-button__link:hover, .wp-block-button.is-style-social .bg-navy .wp-block-button:not([class*=is-style-]) .wp-block-button__link:focus, .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-primary .wp-block-button__link:focus, .wp-block-button.is-style-social .bg-indigo .wp-block-button:not([class*=is-style-]) .wp-block-button__link:focus, .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-primary .wp-block-button__link:focus, .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-secondary .wp-block-button__link:focus, .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-secondary .wp-block-button__link:focus, .wp-block-button.is-style-social .bg-navy .wp-block-button.is-style-tertiary .wp-block-button__link:focus, .wp-block-button.is-style-social .bg-indigo .wp-block-button.is-style-tertiary .wp-block-button__link:focus, .bg-navy .wp-block-button.is-style-social .wp-block-button__link:focus, .bg-indigo .wp-block-button.is-style-social .wp-block-button__link:focus {
    border-color: #fcfcfc;
  }
  .wp-block-button.is-style-social .wp-block-button__link::after {
    margin: 0;
    font-size: 1.5rem;
    transform: none;
  }
  a:hover .wp-block-button.is-style-social .wp-block-button__link, a:focus .wp-block-button.is-style-social .wp-block-button__link, .wp-block-button.is-style-social .wp-block-button__link:hover, .wp-block-button.is-style-social .wp-block-button__link:focus {
    border-color: #0d0d0d;
  }
  .block-editor-block-list__block .wp-block-button.is-style-social .wp-block-button__link {
    font-size: 0.875rem;
    line-height: 1.4;
  }
  .block-editor-block-list__block .wp-block-button.is-style-social .wp-block-button__link::before {
    content: "Screen Reader Label:" !important;
    display: block !important;
    font-size: 0.625rem;
  }
  .wp-block-button.is-style-social.wp-block-button--icon-left .wp-block-button__link::before {
    position: relative;
    left: auto;
    bottom: auto;
    content: var(--buttonIcon);
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .wp-block-button.is-style-social.wp-block-button--icon-right .wp-block-button__link::before {
    display: none;
  }
  .wp-block-button.is-style-text {
    line-height: inherit;
  }
  .wp-block-button.is-style-text .wp-block-button__link {
    padding: 0;
    color: var(--blockColor, #0d0d0d);
    text-decoration: underline;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    transition: color 0.2s linear;
  }
  a:hover .wp-block-button.is-style-text .wp-block-button__link, a:focus .wp-block-button.is-style-text .wp-block-button__link, .wp-block-button.is-style-text .wp-block-button__link:hover, .wp-block-button.is-style-text .wp-block-button__link:focus {
    color: var(--blockHoverColor, #0f1fb4);
  }
  .wp-block-button__link.aligncenter {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .wp-block-button__link.alignleft {
    margin-right: auto;
    margin-left: 0;
    text-align: left;
  }
  .wp-block-button__link.alignright {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }
  .wp-block-button__link[data-video-url]::after {
    margin-left: 0.375rem;
    transform: none;
  }
  a:hover .wp-block-button__link[data-video-url]::after, a:focus .wp-block-button__link[data-video-url]::after, .wp-block-button__link[data-video-url]:hover::after, .wp-block-button__link[data-video-url]:focus::after {
    transform: none;
  }