/* stylelint-disable order/order */
/* stylelint-enable order/order */
/*
* Used to add the CSS Grid properties for the 12-column grid.
*
* @return string  The CSS Grid properties for the 12-column grid.
*/
/****************
 * Fonts
 *
 * The font settings are defined via the gulp figma task creates variables in the css/__base-includes/figma/_figma-font-styles.scss file based on the Figma file. Additional variables are defined here.
 ****************/
/****************
 * Colors
 *
 * The primary colors are defined via the gulp figma task creates variables in the css/__base-includes/figma/_figma-color-variables.scss file based on the Figma file. Additional variables are defined here.
 ****************/
/****************
 * Effects
 ****************/
/****************
 * Grid Settings
 ****************/
/*
This file can be used for optional additions to the Figma-generated font style mixins in the figma/_figma-font-styles.scss file.

For example, if you want to add styles to the @overline mixin, just create a mixin here called @overline-custom and that CSS will be added to the primary mixin:

@mixin overline-custom() {
	font-weight: 700;
}
*/
.block-blog-related__top {
    margin-bottom: 3rem;
  }
  @media (min-width: 36rem) {
    .block-blog-related__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  .block-blog-related__top .wp-block-buttons {
    margin-top: auto;
  }
  @media (min-width: 36rem) {
    .block-blog-related__top * {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .block-blog-related__post-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: clamp(1rem, -0.1428571429rem + 2.380952381vw, 2rem);
  }
  @media (min-width: 36rem) {
    .block-blog-related__post-grid--resource {
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
  }
  @media (min-width: 48rem) {
    .block-blog-related__post-grid--resource {
      grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
      row-gap: clamp(1rem, -0.1428571429rem + 2.380952381vw, 2rem);
    }
  }
  @media (min-width: 90rem) {
    .block-blog-related__post-grid--resource {
      grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
  }
  @media (min-width: 36rem) {
    .block-blog-related__post-grid--news {
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
  }
  @media (min-width: 62rem) {
    .block-blog-related__post-grid--news {
      grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
  }
  .block-blog-related__post-grid--event {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  @media (min-width: 36rem) {
    .block-blog-related__post-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media (min-width: 48rem) and (max-width: 89.98rem) {
    .block-blog-related__post-grid .resource-card:nth-child(3):last-child {
      grid-column: 1/span 2;
    }
  }