/* stylelint-disable order/order */
/* stylelint-enable order/order */
/*
* Used to add the CSS Grid properties for the 12-column grid.
*
* @return string  The CSS Grid properties for the 12-column grid.
*/
/****************
 * Fonts
 *
 * The font settings are defined via the gulp figma task creates variables in the css/__base-includes/figma/_figma-font-styles.scss file based on the Figma file. Additional variables are defined here.
 ****************/
/****************
 * Colors
 *
 * The primary colors are defined via the gulp figma task creates variables in the css/__base-includes/figma/_figma-color-variables.scss file based on the Figma file. Additional variables are defined here.
 ****************/
/****************
 * Effects
 ****************/
/****************
 * Grid Settings
 ****************/
/*
This file can be used for optional additions to the Figma-generated font style mixins in the figma/_figma-font-styles.scss file.

For example, if you want to add styles to the @overline mixin, just create a mixin here called @overline-custom and that CSS will be added to the primary mixin:

@mixin overline-custom() {
	font-weight: 700;
}
*/
.block-content-section {
    position: relative;
    z-index: 1;
    margin: 0;
  }
  .block-content-section__decoration {
    display: none;
  }
  .block-content-section.is-style-reverse-crescent .block-content-section__decoration {
    transform: scaleX(-1);
  }
  .block-content-section.is-style-crescent, .block-content-section.is-style-reverse-crescent {
    margin: 0 !important;
  }
  .block-content-section.is-style-crescent + .block-content-side-image, .block-content-section.is-style-reverse-crescent + .block-content-side-image {
    margin-top: 0 !important;
  }
  .block-content-section.is-style-crescent.block-content-side-image--right .block-content-section__decoration, .block-content-section.is-style-reverse-crescent.block-content-side-image--right .block-content-section__decoration {
    transform: scaleX(-1);
  }
  @media (min-width: 48rem) {
    .block-content-section.is-style-crescent.block-content-side-image--right .block-content-section__decoration, .block-content-section.is-style-reverse-crescent.block-content-side-image--right .block-content-section__decoration {
      transform: translateY(-50%) scaleX(-1);
    }
  }
  .block-content-section.is-style-crescent.bg-white .block-content-section__decoration::before, .block-content-section.is-style-crescent.bg-transparent .block-content-section__decoration::before, .block-content-section.is-style-reverse-crescent.bg-white .block-content-section__decoration::before, .block-content-section.is-style-reverse-crescent.bg-transparent .block-content-section__decoration::before {
    background: #f0f2f9;
  }
  .block-content-section.is-style-crescent .block-content-section__decoration, .block-content-section.is-style-reverse-crescent .block-content-section__decoration {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }
  .block-content-section.is-style-crescent .block-content-section__decoration::before, .block-content-section.is-style-reverse-crescent .block-content-section__decoration::before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: clamp(125rem, 67.8571428571rem + 119.0476190476vw, 175rem);
    height: clamp(125rem, 67.8571428571rem + 119.0476190476vw, 175rem);
    background: #e9ecf6;
    transform: translate(3%, 20%);
    clip-path: url(#crescent-mask);
  }