/* stylelint-disable order/order */
/* stylelint-enable order/order */
/*
* Used to add the CSS Grid properties for the 12-column grid.
*
* @return string  The CSS Grid properties for the 12-column grid.
*/
/****************
 * Fonts
 *
 * The font settings are defined via the gulp figma task creates variables in the css/__base-includes/figma/_figma-font-styles.scss file based on the Figma file. Additional variables are defined here.
 ****************/
/****************
 * Colors
 *
 * The primary colors are defined via the gulp figma task creates variables in the css/__base-includes/figma/_figma-color-variables.scss file based on the Figma file. Additional variables are defined here.
 ****************/
/****************
 * Effects
 ****************/
/****************
 * Grid Settings
 ****************/
/*
This file can be used for optional additions to the Figma-generated font style mixins in the figma/_figma-font-styles.scss file.

For example, if you want to add styles to the @overline mixin, just create a mixin here called @overline-custom and that CSS will be added to the primary mixin:

@mixin overline-custom() {
	font-weight: 700;
}
*/
.block-footer-top {
    font-weight: var(--subtitle-2-font-weight);
    font-size: var(--subtitle-2-font-size);
    font-family: var(--subtitle-2-font-family);
    line-height: var(--subtitle-2-line-height);
  }
  @media (min-width: 36rem) {
    .block-footer-top {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      column-gap: clamp(1rem, -0.1428571429rem + 2.380952381vw, 2rem);
      grid-template-rows: auto 1fr auto;
    }
  }
  .block-footer-top:not(:last-child) {
    padding-bottom: clamp(4rem, 3.4285714286rem + 1.1904761905vw, 4.5rem);
    border-bottom: 1px solid #343a7a;
  }
  .block-footer-top__logo-link {
    display: inline-block;
    margin-right: auto;
    margin-bottom: 1.5rem;
  }
  @media (min-width: 36rem) {
    .block-footer-top__logo-link {
      grid-area: 1/1/2/span 6;
    }
  }
  @media (min-width: 62rem) {
    .block-footer-top__logo-link {
      grid-area: 1/1/2/span 4;
    }
  }
  .block-footer-top__logo {
    width: 7.125rem;
  }
  .block-footer-top .block-content {
    margin-bottom: 3rem;
  }
  @media (min-width: 36rem) {
    .block-footer-top .block-content {
      grid-area: 2/6/3/span 4;
    }
  }
  @media (min-width: 62rem) {
    .block-footer-top .block-content {
      grid-area: 2/4/3/span 4;
    }
  }
  @media (min-width: 36rem) {
    .block-footer-top .block-content:first-child {
      grid-area: 2/1/3/span 6;
    }
  }
  @media (min-width: 62rem) {
    .block-footer-top .block-content:first-child {
      grid-area: 2/1/3/span 4;
    }
  }
  @media (min-width: 75rem) {
    .block-footer-top .block-content:first-child {
      grid-area: 2/1/3/span 3;
    }
  }
  @media (min-width: 75rem) {
    .block-footer-top .block-content:nth-child(2) {
      grid-area: 2/4/3/span 4;
    }
  }
  @media (min-width: 36rem) {
    .block-footer-top__form-col {
      grid-area: 3/1/4/13;
    }
  }
  @media (min-width: 62rem) {
    .block-footer-top__form-col {
      grid-area: 1/auto/3/span 4;
    }
  }
  @media (min-width: 75rem) {
    .block-footer-top__form-col {
      grid-area: 1/8/3/13;
      ;
    }
  }
  .block-footer-top p {
    font-weight: var(--subtitle-2-font-weight);
    font-size: var(--subtitle-2-font-size);
    font-family: var(--subtitle-2-font-family);
    line-height: var(--subtitle-2-line-height);
  }
  .block-footer-top p:not(:last-child) {
    margin-bottom: 1rem;
  }
  .block-footer-top__content {
    display: contents;
  }
  .block-footer-top .gform_title {
    font-weight: var(--title-2-font-weight);
    font-size: var(--title-2-font-size);
    font-family: var(--title-2-font-family);
    line-height: var(--title-2-line-height);
    margin-bottom: 1.5rem;
  }
  .block-footer-top .gform_wrapper .gform_footer .c-btn {
    width: 100%;
    margin-top: 0;
  }
  .block-footer-top .gform_wrapper .gfield {
    margin-bottom: 0.75rem !important;
  }
  .block-footer-top .wp-block-button {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
  .block-footer-top .wp-block-button.is-style-text {
    text-align: left;
  }
  .block-footer-top .wp-block-button.is-style-text .wp-block-button__link {
    font-weight: var(--nav-1-font-weight);
    font-size: var(--nav-1-font-size);
    font-family: var(--nav-1-font-family);
    line-height: var(--nav-1-line-height);
    text-decoration: none;
  }
  .block-footer-top .wp-block-buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 1.5rem;
    column-gap: clamp(1rem, -0.1428571429rem + 2.380952381vw, 2rem);
  }
  .block-footer-top .wp-block-buttons:not(:first-child) {
    margin-top: 1.5rem;
  }